@forward '../styles/design-system.scss';

.title1 {
    font-size: 28px;
}

.title2 {
    font-size: 24px;
}

.title3 {
    font-size: 20px;
}

.title4 {
    font-size: 18px;
}

.body1 {
    font-size: 16px;
}

.body2 {
    font-size: 14px;
}

.body3 {
    font-size: 13px;
}

.body4 {
    font-size: 11px;
}

.bold {
    font-weight: bold;
}
